<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body{margin:0; padding:0; font-family:Arial;background: #fff;} td
      span.dot_class { margin: 0; color: #ed5a24; border: 1px solid; } .font_fam
      { font-family: system, "Segoe UI", Tahoma; } .td{ padding: 10px;
      border-radius: 10px; text-align: left; width: 100px; color: #fff;
      background: gainsboro; }
    </style>
  </head>
  <body>
    <table
      width="780"
      border="0"
      cellspacing="0"
      cellpadding="0"
      align="center"
      style="border: 1px solid #ccc;"
    >
      <tr>
        <td height="4" style="background: #fcba4b;"></td>
      </tr>
      <tr>
        <td>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="60">&nbsp;</td>
              <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>
                      <table
                        width="100%"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                      >
                        <tr>
                          <td colspan="2" height="40">&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-size: 30px;color:#fcba4b">mehta india</td>
                          <td
                            align="right"
                            valign="middle"
                            style="font-family:Arial; font-size:18px; color:#fcba4b; line-height:28px;"
                          ><br /><a
                              href="mailto:repdoor@gmail.com"
                              style="font-family:Arial; color:#000; text-decoration:none;"
                            ></a>

                          </td>
                        </tr>
                        <tr>
                          <td colspan="2" height="40">&nbsp;</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                  </tr>
                  <tr>
                    <td height="33">&nbsp;</td>
                  </tr>
                  <tr>
                    <td
                      style="font-family:Arial; font-size:14px; color:black; line-height:18px;"
                    >
                      <span>Dear Sir/Mam,<br /><br />
                        Thank you for contacting Mehta India.
                        <br /><br />
                        Please use the verification code below on the Mehta
                        India..:
                        <br /><br />
                      </span>
                      <table>
                        <tr>
                          <td class="td" style="color: black;"><b>OTP :
                              {{reset_password_token}}</b></td>
                        </tr>
                      </table>

                      <br /><br />
                      <b>Best Regards,<br />
                        Team Mehta India</b>

                    </td>
                  </tr>
                  <tr>
                    <td height="35">&nbsp;</td>
                  </tr>

                  <tr>
                    <td height="55">&nbsp;</td>
                  </tr>

                </table>
              </td>
              <td width="60">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td height="40" style="background:#fcba4b;">

          <span style="padding-left: 60px;">
            <a href="" style="color:#fff;text-decoration: none;"> </a>
          </span>

          <!--span style='padding-right: 60px;float: right;color: #fff;'>
                      <i class="fa fa-facebook-official" aria-hidden="true"></i>
                      <i class="fa fa-twitter-square" aria-hidden="true"></i>
                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                    </span-->

        </td>
      </tr>
    </table>
  </body>
</html>